/vendor
 /node_modules
 /public/storage 
Homestead.yaml
 Homestead.json 
.env
 .puli 
.idea 
.DS_Store
public/uploads/1472038810/
public/uploads/1472039868/
public/uploads/1472040185/
public/uploads/1472040381/
public/uploads/1472040696/
public/uploads/1472040954/
public/uploads/1472041089/
public/uploads/1472041462/
resources/assets/
